<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <title>Words API</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="static/images/favicon.ico">
        <script src="https://kit.fontawesome.com/c66b56e08d.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
        <script defer type="text/javascript" src="static/js/main.js"></script>
    </head>
    <body class="d-flex flex-column h-100">
        <header class="site-header">
            <nav class="navbar navbar-light bg-light justify-content-center">
                <h1>Words API</h1>
            </nav>
        </header>
        <main class="my-auto">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-4 text-center">
                        <form method="GET">
                            <div class="form-group">
                                <a class="btn btn-light shadow" href="/download">Click here to download all the words!</a>
                                <input class="form-control shadow mt-5 mb-3" type="text" id="search" name="search" required pattern="[A-Za-z]+" placeholder="Search for words here!">
                                <button class="btn btn-primary shadow" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer class="bg-light text-center py-1">
            <div class="container-fluid">
                <h5>This website is powered by Flask!</h5>
            </div>
        </footer>
    </body>
</html>